*{
  margin: 0%;
  padding: 0%;
  text-transform: capitalize;
}

body{
  
  width: 100%;
  height: auto;
}

header{
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
  color:black;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;

}
.div1{
  display: flex;
  justify-content: center;
  
}
.div1 img{
  border-style: dotted;
  margin: 50px;
}
.div2{
  border-style: dashed;
  border-style: hidden;
  display:flex
  justify-content: center;
}

main img{
  height: 150px;
  width: 150px;
}

.main2{
  background-position: 50%;
  background-image: url("pngtree-pink-glitter-background-image_120547 (1).jpg");
}

.plain{
  border: 15px solid lightseagreen;
}

.dashed{
  border: 15px solid lightseagreen;
  border-style: dashed;
}
.square{
  border: 15px solid lightseagreen;
  border-style: dotted;
}

.double{
  border: 15px lightseagreen;
  border-left: 10px solid rgb(14,77,74);
  border-top:10px solid rgb(14,77,74) ;
  }

  .doublea{
    border: 15px solid lightseagreen;
    border-right: 10px solid rgb(14,77,74);
    border-bottom:10px solid rgb(14,77,74) ;
    width: fit-content;
    margin: 50px;

    }
  
  
  .double2{
    border: 15px lightseagreen;
    border-right: 10px solid rgb(14,77,74);
    border-bottom:10px solid rgb(14,77,74) ;
    }
/*
.doubleb2{
  display: flex;
  justify-content: center;
}
.doubleb2{
      border: 15px solid lightseagreen;
      border-left: 10px solid rgb(14,77,74);
      border-top:10px solid rgb(14,77,74) ;
      width: fit-content;
      margin: 50px;
    }*/

      .plain2{
        border: 10px solid lightseagreen;
        margin: 5px; 
      }
      
      .plain2a{
        border: 10px solid lightseagreen;
        width: fit-content;
        margin: 50px; 
      }
      .none{
        border-color: aqua;
        border-width: 10px;
        border-style: dashed;
        margin-left: 45%;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px black;
      }
      .content{
            background-color:purple;
            color:black;
            font-style: oblique;
            font-family: Arial, Helvetica, sans-serif;
            padding: 20px;
            height: 200px;
            border-top: 10px solid green;
            border-left: 10px solid red;
            border-bottom: 10px solid blue;
            border-right: 10px solid magenta;
            margin-bottom: 20px;
      }
      h3{
        text-align: center;
        margin-bottom: 10px;
        font-size: 25px;
      }

      .footer{
       font-style: italic;
        text-align: center;
        width: 100%;
        padding: 50px 0px;
        background-color: aqua;
      }
      .footer a{
        text-decoration: none;
        color:black;
        font-size: 25px;
        margin: 30px;
      }

      .doubleb2{
        display: flex;
        justify-content: center;
        
      }
      .doubleb2 img{
        height: 10cm;
    width: 20cm;
        border: 15px solid lightseagreen;
      border-left: 10px solid rgb(14,77,74);
      border-top:10px solid rgb(14,77,74) ;
      margin: 50px;
        border-style: dotted;
        margin: 50px;


  




  
